.youtubevideo {display: inline-block; width: 100%;}
.youtubevideo iframe {
	border: none;
	margin-right: 1em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	display: block;
	width: 220px;
	height: 130px;
	float: left;
}
.youtubevideo .breaker {margin-top: -10px; display: inline-block; width: 256px; height: 1px; padding: 0; margin: 0}
.youtubevideo p.title {padding: 0; margin-top: -16px; margin-bottom: 8px;}
.youtubevideo p, .youtubevideo ul {min-width: 200px !important; white-space: normal !important}
.youtubevideo ul {list-style: none; padding: 0; margin: 0; line-height: 1.4em; margin-top: -0.5em;}
.youtubevideo ul li {margin: 0; display: inline; white-space: nowrap}
.youtubevideo ul, .youtubevideo ul li a,.youtubevideo .start, .youtubevideo .start a, .youtubevideo .label {color: #777}
.youtubevideo .start {display: inline-block; margin-top: -0.5em;}
.youtubevideo ul li:first-child {padding-left: 0; padding-right: 0}
.youtubevideo ul li:last-child {border-right: none}
.youtubevideo ul li::after {content: "•"; padding: 0 0.3em}
.youtubevideo ul li:last-child::after {display: none}
.youtubevideo p.link {margin-top: 1em; white-space: nowrap}
