<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:comment>https://img.youtube.com/vi/{code}/maxresdefault.jpg</f:comment>
	<f:layout name="Default" />
	<f:section name="Main">
		<div class="youtubeVideo">
			<figure>
				<div class="videoWrapper v{data.uid} <f:if condition="{files.0}">coverimaged autoplay{data.tx_youtubevideo_autoplay}</f:if>" style="
					padding-bottom:
						<f:if condition="{data.tx_youtubevideo_ratio} == 0">
							<f:CObject typoscriptObjectPath="plugin.tx_youtubevideo.render.ratioDefault" />%
						</f:if>
						<f:if condition="{data.tx_youtubevideo_ratio} == 1">
							<f:CObject typoscriptObjectPath="plugin.tx_youtubevideo.render.ratio1" />%
						</f:if>;
					">
					<f:if condition="{data.tx_youtubevideo_autoplay}">
						<f:then></f:then>
						<f:else>
							<f:if condition="{files.0} || {data.tx_youtubevideo_covertitle} || {data.tx_youtubevideo_covertext} || {f:cObject(typoscriptObjectPath:'plugin.tx_youtubevideo.render.enablecovertoall')}">
								<a id="{code}" class="coverimage" onclick="myFunction(); hide<f:format.raw>{code}</f:format.raw>(); return false;" style="background:url(
										<f:if condition="{files.0}">
											<f:then><f:uri.image src="{files.0.uid}" maxWidth="{f:cObject(typoscriptObjectPath:'plugin.tx_youtubevideo.render.coverimagewidth')}" treatIdAsReference="1" /></f:then>
											<f:else>
												<f:if condition="{f:cObject(typoscriptObjectPath:'plugin.tx_youtubevideo.render.coverimagewidth')} <= 480 || {nomaxrescover}">
													<f:then>https://i.ytimg.com/vi/{code}/hqdefault.jpg</f:then>
													<f:else>https://i.ytimg.com/vi/{code}/maxresdefault.jpg</f:else>
												</f:if>
											</f:else>
										</f:if>
								) center center no-repeat; background-size: cover;">
									<f:if condition="{data.tx_youtubevideo_covertitle} || {data.tx_youtubevideo_covertext}"><div class="youtubeVideo-cover-text"></f:if>
										<f:if condition="{data.tx_youtubevideo_covertitle}"><h2>{data.tx_youtubevideo_covertitle}</h2><br /></f:if>
										<f:if condition="{data.tx_youtubevideo_covertext}"><p>{data.tx_youtubevideo_covertext}</p></f:if>
									<f:if condition="{data.tx_youtubevideo_covertitle} || {data.tx_youtubevideo_covertext}"></div></f:if>
									<f:comment><svg class="customplaybutton"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28.06 28.06"><path d="M28.06,14A14,14,0,1,1,14,0,14,14,0,0,1,28.06,14ZM11.32,19l7.42-5L11.32,9V19Z" /></svg></f:comment>
									<svg class="customplaybutton" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 169 169"><circle cx="84.5" cy="84.5" r="84.5" /><polygon points="117.55 84.5 62.96 117.13 62.96 51.87 117.55 84.5 117.55 84.5" /></svg>
								</a>
							</f:if>
						</f:else>
					</f:if>
					
					<div id="video"></div>
					<script>
						var player;
					  function onYouTubeIframeAPIReady() {
					    player = new YT.Player('player', {
					      enablejsapi: true,
					      videoId: '<f:format.raw>{code}</f:format.raw>',
					      events: {
					        'onReady': onPlayerReady,
					        'onStateChange': onPlayerStateChange
					      }
					    });
					  }
					  function hide<f:format.raw>{code}</f:format.raw>() {
						  var x = document.getElementById("<f:format.raw>{code}</f:format.raw>");
					    if (x.style.display === "none") {
					        x.style.display = "block";
					    } else {
					        x.style.display = "none";
					    }
					  }
					</script>
				</div>
				<f:if condition="{data.tx_youtubevideo_caption}"><figcaption><p class="figureCaption">{data.tx_youtubevideo_caption}</p></figcaption></f:if>
			</figure>
		</div>
	</f:section>
	<f:section name="FooterAssets">
	  <script>
			function myFunction() {
			
			  document.getElementById("video").innerHTML = "<div id='player'></div>";
			
			    // 2. This code loads the IFrame Player API code asynchronously.
			  var tag = document.createElement('script');
			
			  tag.src = "https://www.youtube.com/iframe_api";
			  var firstScriptTag = document.getElementsByTagName('script')[0];
			  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
			}
			 // 3. This function creates an <iframe> (and YouTube player)
			  //    after the API code downloads.
			  
			
			  // 4. The API will call this function when the video player is ready.
			  function onPlayerReady(event) {
			    event.target.playVideo();
			  }

			
			  // 5. The API calls this function when the player's state changes.
			  //    The function indicates that when playing a video (state=1),
			  //    the player should play for six seconds and then stop.
			  var done = false;
	      function onPlayerStateChange(event) {
	        if (event.data == YT.PlayerState.PLAYING && !done) {
	          setTimeout(stopVideo, 6000);
	          done = true;
	        }
	      }
	      function stopVideo() {
	       // player.stopVideo();
	      }    
			</script>
	</f:section>
</html>