<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="HeaderAssets">
		<link rel="preconnect" href="https://www.youtube-nocookie.com">
		<link rel="preconnect" href="https://www.youtube.com">
		<link rel="preconnect" href="https://i.ytimg.com">
		<link rel="preconnect" href="https://i9.ytimg.com">
		<link rel="preconnect" href="https://s.ytimg.com">
	</f:section>
	<f:layout name="Default" />
	<f:section name="Main">
        <f:if condition="{youtubevideos -> f:count()} < {data.tx_youtubevideo_colcount}">
            <f:then><f:variable name="colCount">{youtubevideos -> f:count()}</f:variable></f:then>
            <f:else><f:variable name="colCount">{data.tx_youtubevideo_colcount}</f:variable></f:else>
        </f:if>
        <f:variable name="spaceWidthTotal">{colCount - 1 * settings.colspacewidth}</f:variable>
        <f:variable name="itemWidth">{100 - spaceWidthTotal / colCount}</f:variable>
        <f:variable name="spaceInPx">{colCount - 1 * settings.colspacewidth / 100 * settings.coverimagewidth}</f:variable>
        <f:variable name="coverImageWidth">{settings.coverimagewidth - spaceInPx / colCount}</f:variable>
        <f:variable name="coverImageWidth_x2">{coverImageWidth * 2}</f:variable>

        <f:if condition="{youtubevideos -> f:count()} > 1">
            <div id="youtubevideogallery-{data.uid}" class="youtubevideogallery colcount-{colCount}">
        </f:if>
            <f:for each="{youtubevideos}" as="item" iteration="iterator">
                <f:render partial="Iframe" arguments="{_all}" />
                <f:if condition="{iterator.isLast} != 1"><div class="space" style="width: {settings.colspacewidth}%; padding-bottom: {settings.colspacewidth}%;"></div></f:if>
            </f:for>
		<f:if condition="{youtubevideos -> f:count()} > 1">
			</div>
		</f:if>
		<f:if condition="{pagination.numberOfPages} > 1">
			<f:render partial="Pagination" arguments="{pagination:pagination}" />
		</f:if>
	</f:section>
</html>
