<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace ea=Brightside\Embedassets\ViewHelpers}

	<f:layout name="Default" />
	<f:section name="Main">
        <ea:asset.css embed="1" priority="{settings.cssPriority}" identifier="youtubeDefault" href="{settings.cssFile}" />
        <f:if condition="{youtubevideos -> f:count()} < {data.tx_youtubevideo_colcount}">
            <f:then><f:variable name="colCount">{youtubevideos -> f:count()}</f:variable></f:then>
            <f:else><f:variable name="colCount">{data.tx_youtubevideo_colcount}</f:variable></f:else>
        </f:if>

		<f:variable name="spaceWidthTotal">{colCount - 1 * settings.colspacewidth}</f:variable>
		<f:variable name="itemWidth">{100 - spaceWidthTotal / colCount}</f:variable>
		<f:variable name="spaceInPx">{colCount - 1 * settings.colspacewidth / 100 * settings.coverimagewidth}</f:variable>
		<f:variable name="coverImageWidth">{settings.coverimagewidth - spaceInPx / colCount}</f:variable>
		<f:variable name="coverImageWidth_x2">{coverImageWidth * 2}</f:variable>

		<f:if condition="{youtubevideos -> f:count()} > 1">
			<div id="youtubevideogallery-{data.uid}" class="youtubevideogallery colcount-{colCount}">
		</f:if>
            <f:for each="{youtubevideos}" as="item" iteration="iterator">
                <f:render partial="Item" arguments="{_all}" />
                <f:if condition="{iterator.isLast} != 1"><div class="space" style="width: {settings.colspacewidth}%; padding-bottom: {settings.colspacewidth}%;"></div></f:if>
            </f:for>
		<f:if condition="{youtubevideos -> f:count()} > 1">
			</div>
		</f:if>
		<f:if condition="{pagination.numberOfPages} > 1">
			<f:render partial="Pagination" arguments="{pagination:pagination}" />
		</f:if>
        <f:if condition="!{gdprnote}">
			<f:then><script>disableGdpr = 1;</script></f:then>
			<f:else><script>disableGdpr = 0;</script></f:else>
		</f:if>
        <ea:asset.script embed="1" identifier="youtubevideowewe" src="EXT:youtubevideo/Resources/Public/JavaScript/youtubevideo.js" />
	</f:section>
</html>
